server:
  port: 8080
spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: identity-service
          predicates:
            - Path=/identity/${app.api-version}/**
          uri: http://localhost:8081
        - id: post-service
          predicates:
            - Path=/post/${app.api-version}/**
          uri: http://localhost:8082

app:
  api-version: api/v1
  security:
    public-post-endpoints:
      - "/identity/api/v1/auth/token"
      - "/identity/api/v1/auth/register"
      - "/identity/api/v1/auth/logout"




jwt:
  signerKey: ${JWT_SIGNER_KEY}


